.DS_Store
node_modules/
.cli_token
.cookies
.env
.docker_sdk/
.venv/
gcp.env
.next/ 
 *.pt
 *.log
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
.vscode/
.idea/
ephapsys.egg-info/
uploads/
runs/
python/dist/
.ephapsys_state/
python/build/
agent_template_id.txt
cookies.txt
samples/**/.DS_Store
samples/**/outputs/
samples/**/runs/
samples/**/checkpoints/
samples/**/logs/
samples/**/artifacts/
samples/**/results/
dist/
